@use "../../scss/variables" as vars;

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;

  img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.card-content {
  margin-top: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: vars.$primary-color;

  .discounted {
    color: red;
    margin-right: 5px;
  }

  .original {
    text-decoration: line-through;
    color: gray;
  }
}