@use "../../scss/variables" as vars;

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;

  img {
    width: 100%; // Ensures images fill the container
    max-width: 400px; // Set a fixed max width
    height: 300px; // Forces uniform height
    object-fit: cover; // Ensures images fill the box without stretching
    border-radius: 8px; // Optional rounded corners
  }
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: vars.$primary-color;

  .discounted {
    color: red;
    margin-right: 5px;
  }

  .original {
    text-decoration: line-through;
    color: gray;
  }
}