@use "../../scss/variables" as vars;
@use "../../scss/layout" as layout;

.header {
  padding: 15px 20px;
  background-color: vars.$primary-color;
  color: vars.$text-color-secondary;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cartIcon {
    margin-left: auto;
    font-size: 1.4rem;
    margin-top: 3px;
    position: relative;
  }

  .cartCount {
    background-color: red;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    padding: 3px 5px 1px 5px;
    top: -10px;
    right: -10px;
  }

  // Search Bar Styles

  .searchContainer {
    position: relative;
    flex-grow: 1;

    .searchInput {
      width: 100%;
      max-width: 500px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .searchDropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-width: 500px;
      background: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 200px;
      overflow-y: auto;
      z-index: 10;

      li {
        padding: 8px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: vars.$primary-color;
          display: block;
          padding: 8px;
        }

        &:hover {
          background: vars.$primary-light;
        }
      }
    }
  }
}
