@use "variables" as *;
@use "mixins" as *;

// Global Page Wrapper (Centers content)
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

// Header Wrapper (Centers nav and search bar)
.header-container {
  @extend .container;
  display: flex;
  align-items: center;
}

// Section Styling (Consistent Page Spacing)
section {
  padding: 30px 20px 60px 20px;
  @include respond-min(xlarge) {
    padding: 30px 0px 60px 0px;
  }
}

// Responsive Grid System (Flexbox)
.grid {
  display: grid;
  gap: 20px;

  &.cols-2 {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  // Medium screens: Switch to 2 columns
  @include respond(medium) {
    &.cols-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Small screens: Switch to 1 column
  @include respond(small) {
    &.cols-2, &.cols-3 {
      grid-template-columns: 1fr;
    }
  }
}
